.glide__arrow {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0
}

.frame {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 13.33333rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out,-webkit-transform 1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  will-change: transform
}

.frame > * {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid hsla(0, 0%, 100%, .5);
  border-radius: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.frame > :first-child {
  border-radius: 2px;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5);
  box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5);
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
}

.frame > :nth-child(2) {
  top: 0;
  right: 0;
  width: 3rem;
  -webkit-transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-width: 3px;
  border-right-width: 9px
}

.frame > :nth-child(3) {
  top: 0;
  left: 0;
  width: 3rem;
  -webkit-transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  border-width: 3px;
  border-left-width: 9px
}

@media (min-width: 42.5em) {
  .frame {
    height:22.22222rem;
  }
}

.frames {
  padding-top: 2rem;
  padding-bottom: 3rem
}

@media (min-width: 42.5em) {
  .frames {
    padding-top:4rem;
    padding-bottom: 5rem
  }
}

.frames__list {
  overflow: visible
}

.frames__item {
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px)
}

.slider--big .slider__arrows {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  width: 100%
}

@media (min-width: 42.5em) {
  .slider--big .slider__arrows {
    position:static
  }
}

.slider--big .slider__arrow {
  width: 46px;
  height: 46px;
  margin-top: -30px
}

@media (max-width: 42.4375em) {
  .slider--big .slider__arrow {
    position:static
  }
}

.slider--big .slider__arrow--next {
  right: 3rem
}

.slider--big .slider__arrow--prev {
  left: 3rem
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0,0,0,.5);
  box-shadow: 0 .5rem 4rem 0 rgba(0,0,0,.5);
}

.slider__arrow:hover {
  background-color: #f44336
}

.slider__arrow:hover svg {
  fill: white;
}

.slider__arrow--next {
  right: 1.5rem
}

.slider__arrow--prev {
  left: 1.5rem
}

.slider--big {
  margin-top: 20px;
}